<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/main.css">
  <title>Pizza Shop</title>
</head>
<body>
  <nav>
    <ul>
      <li>
       <a href="/pizza-orders">Pizza Orders</a>
      </li>
      <li>
       <a href="/pizza-orders/new">New Order</a>
      </li>
    </ul>
  </nav>
  <main>
  <%= yield %>
  </main>
</body>
</html>
