/* GLOBAL CHANGES */
body {
  margin: 0;
  background-color: #f1f1f1 ;
}
a {
  font-family: sans-serif;
  text-decoration: none;
}
ul {
  display: flex;
}

li {
  list-style: none;
}

/* NAVIGATION */
nav {
  display: flex;
  background-color: #444;
  box-shadow: 0px 6px 5px 0px rgba(176,173,176,1);
}
 nav a {
   color: #eee;
   font-size: 40px;
   margin-left: 4%;
 }

/* MAIN_CONTAINER */
main {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 2% 4%;
}
.new_order {
  display: flex;
  padding: 20px;
}

.order_child {
  padding: 0 2%;
  min-width: 20%;
  font-family: sans-serif;
  color: #444;
  border-right: solid #446 1px;
}

.order_child a {
  background-color: dodgerblue;
  color: #fff;
  padding: 6px;
  border-radius: 4px;
  box-shadow: 0px 3px 5px 0px rgba(176,173,176,1);
  font-size: 18px;
}

/* SHOW */
.show_layout {
  padding: 0 2%;
  min-width: 20%;
  font-family: sans-serif;
  color: #444;
  border-right: solid #446 1px;
}

.show_layout a {
  background-color: dodgerblue;
  color: #fff;
  padding: 6px;
  border-radius: 4px;
  box-shadow: 0px 3px 5px 0px rgba(176,173,176,1);
  font-size: 18px;
}

.delete {
  background: red;
  border-radius: 6px;
  padding: 3%;
  font-size: 18px;
  color: #fff;
  margin-top: 20px;
}

/* FORMS */

label {
  font-family: sans-serif;
  color: #787480;
}

input {

}

/* NEW ORDER FORM */
.new_order {
  display: flex;
  justify-content: center;
  max-width: 33%;
}
